body {
  font-family: "Roboto", sans-serif;
  color: #535860 !important;
  background-image: url("../images/clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px !important;
  text-transform: capitalize;
}
hr {
  margin: 0px !important;
}
.weather-container {
  padding: 15px 20px;
  max-width: 720px;
  margin: 0 auto;
}
.weather-app {
  margin: 10px 20px;
  border: 1px solid rgb(191, 176, 191);
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.16);
}
.search-bar {
  padding: 15px 60px 15px 10px;
}
.search-text,
.search-button,
#current-button {
  padding: 5px 15px;
  border-radius: 39px;
  border: 1px solid rgb(165, 163, 163);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
}
.search-text {
  width: 100%;
  outline: #8b307fba solid 1px;
  background-color: #ffffff73;
}
.search-button {
  background: #0e5185;
  color: #fff;
}
.search-button:hover {
  opacity: 0.6;
}
#current-button {
  background: #8b307f;
  color: #fff;
}
#current-button:hover {
  opacity: 0.6;
}
.both-buttons {
  margin: 0 auto;
}
#city-name-box {
  text-align: center;
}
#city-name {
  padding-bottom: 5px;
}
.current {
  padding: 10px 10px 5px 10px;
  max-width: 100%;
  color: #000;
}
.current-time {
  opacity: 0.8;
  font-size: 18px;
}
.current-temp {
  font-size: 48px;
}
#temp-value {
  font-weight: 500;
  font-size: 70px;
}
.temp-units {
  font-size: 20px;
  position: relative;
  top: -34px;
  left: -10px;
  text-decoration: none;
}
.temp-units {
  opacity: 0.8;
  cursor: default;
}
.temp-units .active:hover {
  text-decoration: none;
}
#icon {
  margin: 34px auto 0 auto;
  padding: 5px;
}
img {
  width: 140px;
}
.conditions {
  margin: 45px 0 15px 0;
  opacity: 0.8;
}
ul {
  list-style-type: none;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
#description::first-letter {
  text-transform: capitalize;
}
.forecast-container {
  margin: 10px !important;
  padding: 10px;
}
.forecast {
  text-align: center;
  background-color: transparent;
}
.day {
  font-weight: 600;
}
.icon-forecast {
  font-size: 30px;
}
#forecast-icon {
  width: 60px;
}
.low-temp {
  font-weight: normal;
}
#by-line {
  text-align: center;
  font-family: "PT Mono", monospace;
  color: #000;
  margin: 20px 20% 20px 20%;
  border-radius: 15px;
  padding: 4px 10px;
}
#open-source {
  text-decoration: none;
}
.weather-app,
#by-line {
  background: #ffffffae !important;
}
#city-name-box,
#icon-box,
#conditions-box {
  background-color: transparent;
}
